Repository BabbaWaagen/sharky-website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o3de/sig-docs-community-maintainers, @o3de/sig-chairs, @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers, @o3de/reviewers, @o3de/lf

.github/CODEOWNERS:

# Default site owners
# These owners will be requested for review unless a later match takes precedence.
* @o3de/sig-docs-community-maintainers

# Ownership owners
/.github/CODEOWNERS @o3de/sig-chairs

# Default owner directories
# These directories have default owners and also exceptions that will be specified in later groups.
/content/docs/ @o3de/sig-docs-community-reviewers
/layouts/ @o3de/sig-docs-community-site-reviewers
/static/images/ @o3de/sig-docs-community-reviewers

# Website content
/assets/ @o3de/sig-docs-community-site-reviewers
/content/search/ @o3de/sig-docs-community-site-reviewers
/static/js/ @o3de/sig-docs-community-site-reviewers
/config.toml @o3de/sig-docs-community-site-reviewers
/Makefile @o3de/sig-docs-community-site-reviewers
/netlify.toml @o3de/sig-docs-community-site-reviewers
/package.json @o3de/sig-docs-community-site-reviewers

# Community content
/content/community/ @o3de/sig-docs-community-reviewers 
/content/contribute/ @o3de/sig-docs-community-reviewers 
/layouts/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers 
/layouts/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/community/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/contribute/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/blog-display.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/css.html @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/static/images/community/ @o3de/sig-docs-community-reviewers 
/static/images/contribute/ @o3de/sig-docs-community-reviewers 

# Docs content
/content/smoketest.md @o3de/sig-docs-community-reviewers
/static/docs/ @o3de/sig-docs-community-reviewers
/static/files/ @o3de/sig-docs-community-reviewers
/static/_redirects @o3de/sig-docs-community-reviewers
/layouts/shortcodes/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/docs/ @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers
/layouts/partials/docs @o3de/sig-docs-community-reviewers @o3de/sig-docs-community-site-reviewers

# Shared community and docs content
/content/docs/contributing/ @o3de/sig-docs-community-reviewers
/content/docs/contributing/to-code/ @o3de/sig-docs-community-reviewers @o3de/reviewers
/static/images/contributing/ @o3de/sig-docs-community-reviewers 

# Foundation-owned materials
/content/download/ @o3de/lf
/content/_index.md @o3de/lf
/LICENSE-* @o3de/lf
/_index.md @o3de/lf
/static/images/events/ @o3de/lf
/static/images/home/ @o3de/lf
/static/img/ @o3de/lf
/static/video/ @o3de/lf
/static/apple-touch-icon*.png @o3de/lf
/static/favicon.ico @o3de/lf

# Should not be modified in development
/content/docs/release-notes/ @o3de/sig-chairs
/static/images/release-notes/ @o3de/sig-chairs
/content/blog/ @o3de/sig-chairs
/static/images/blog/ @o3de/sig-chairs
/CONTRIBUTING.md @o3de/sig-chairs
/README.md @o3de/sig-chairs

Merge pull request #2498 from aws-lumberyard-dev/alexmont/corrections
  content/docs/learning-guide/tutorials/entities-and-prefabs/override-a-prefab.md
Owners: @o3de/sig-docs-community-reviewers

Improve Prefab Overrides Docs
  content/docs/learning-guide/tutorials/entities-and-prefabs/override-a-prefab.md
  static/images/learning-guide/tutorials/entities-and-prefabs/level-prefab-edit-enter-edit-mode.png
  static/images/learning-guide/tutorials/entities-and-prefabs/level-prefab-edit-with-override.png
Owners: @o3de/sig-docs-community-reviewers

Export Instructions for SDK/Installer (#2514)
  content/docs/user-guide/packaging/project-export/project-export-cli.md
Owners: @o3de/sig-docs-community-reviewers

initial documentation updates for recent exporter changes for point release (#2519)
  content/docs/user-guide/packaging/_index.md
  content/docs/user-guide/packaging/project-export/project-export-cli.md
  content/docs/user-guide/packaging/windows-release-builds.md
Owners: @o3de/sig-docs-community-reviewers

Merge pull request #2521 from tkothadev/project-export/important-addendum
  content/docs/user-guide/packaging/project-export/project-export-cli.md
Owners: @o3de/sig-docs-community-reviewers

Updated version information from 23.10.0 to 23.10.1
  content/docs/welcome-guide/setup/installing-linux.md
  layouts/partials/download/content-linux.html
  layouts/partials/download/content-windows.html
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

Added 23.10.1 release notes.
  content/docs/release-notes/2310-1-release-notes.md
  content/docs/release-notes/_index.md
  content/docs/release-notes/archive/2310-0-release-notes.md
  content/docs/release-notes/archive/_index.md
Owners: @o3de/sig-chairs

Updated release date from December 7 to December 14.
  content/docs/release-notes/_index.md
Owners: @o3de/sig-chairs

Update installing-linux.md - opt version format change
  content/docs/welcome-guide/setup/installing-linux.md
Owners: @o3de/sig-docs-community-reviewers

Update config.toml for 23.10.1
  config.toml
Owners: @o3de/sig-docs-community-site-reviewers

fix the typo (#2547)
  content/docs/user-guide/assets/texture-settings/interface.md
Owners: @o3de/sig-docs-community-reviewers

Updated for the 23.10.3 point release.
  config.toml
  content/docs/release-notes/2310-3-release-notes.md
  content/docs/release-notes/_index.md
  content/docs/release-notes/archive/2310-1-release-notes.md
  content/docs/welcome-guide/setup/installing-linux.md
  layouts/partials/download/content-linux.html
  layouts/partials/download/content-windows.html
Owners: @o3de/sig-docs-community-site-reviewers, @o3de/sig-chairs, @o3de/sig-docs-community-reviewers

Merge pull request #2552 from guillaume-haerinck/samples
  content/docs/learning-guide/_index.md
  content/docs/learning-guide/samples/_index.md
  content/docs/learning-guide/samples/advanced/_index.md
  content/docs/learning-guide/samples/ai/kythera-city-level-overview.md
  content/docs/learning-guide/samples/benchmark/_index.md
  content/docs/learning-guide/samples/feature-showcase/_index.md
  content/docs/learning-guide/samples/follow-along/_index.md
  content/docs/learning-guide/samples/follow-along/pong.md
  content/docs/learning-guide/samples/follow-along/protect-the-moon.md
  content/docs/learning-guide/samples/prototypes/_index.md
  content/docs/learning-guide/samples/robotic/_index.md
  content/docs/learning-guide/samples/templates/_index.md
  content/docs/learning-guide/tutorials/first-project/_index.md
  static/images/learning-guide/samples/advanced/multiplayer-sample.png
  static/images/learning-guide/samples/benchmark/buongiorno.png
  static/images/learning-guide/samples/benchmark/loft-archviz-sample.png
  static/images/learning-guide/samples/feature-showcase/procedural-worlds.png
  static/images/learning-guide/samples/follow-along/multiplayer-workshop.png
  static/images/learning-guide/samples/follow-along/o3de-book.png
  static/images/learning-guide/samples/follow-along/pong.png
  static/images/learning-guide/samples/follow-along/protect-the-moon.png
  static/images/learning-guide/samples/prototypes/gnomebodys-home.png
  static/images/learning-guide/samples/prototypes/loherangrin-o3de-jam.png
  static/images/learning-guide/samples/prototypes/newspaper-delivery.png
  static/images/learning-guide/samples/robotic/fruit-picking.png
  static/images/learning-guide/samples/robotic/physics-test-scene.png
  static/images/learning-guide/samples/templates/first-person.png
  static/images/learning-guide/samples/templates/third-person.png
Owners: @o3de/sig-docs-community-reviewers

fixing broken link for ios export page (#2534)
  content/docs/user-guide/packaging/project-export/project-export-ios.md
Owners: @o3de/sig-docs-community-reviewers

Update iOS export script documentation (#2540)
  content/docs/user-guide/packaging/project-export/_index.md
  content/docs/user-guide/packaging/project-export/manual-export-atom-sampleviewer-ios.md
  content/docs/user-guide/packaging/project-export/project-export-ios.md
Owners: @o3de/sig-docs-community-reviewers

Initial MiniAudio Gem documentation (#2537)
  content/docs/user-guide/components/reference/_index.md
  content/docs/user-guide/components/reference/audio/mini-audio-listener.md
  content/docs/user-guide/components/reference/audio/mini-audio-playback.md
  content/docs/user-guide/gems/reference/_index.md
  content/docs/user-guide/gems/reference/audio/miniaudio/miniaudio.md
Owners: @o3de/sig-docs-community-reviewers

Adding note that you must export the O3DE_SNAP environment variable or command line builds will fail for Snap O3DE SDK (#2539)
  content/docs/user-guide/build/_index.md
  content/docs/user-guide/build/configure-and-build.md
  content/docs/user-guide/platforms/linux/_index.md
  content/docs/welcome-guide/create/creating-projects-using-cli/creating-linux.md
  content/docs/welcome-guide/setup/installing-linux.md
Owners: @o3de/sig-docs-community-reviewers

component documentation for frame, system and lidar (#2510)
  content/docs/user-guide/components/reference/ros2/_index.md
  content/docs/user-guide/components/reference/ros2/control/_index.md
  content/docs/user-guide/components/reference/ros2/control/ros2-georeference.md
  content/docs/user-guide/components/reference/ros2/core/_index.md
  content/docs/user-guide/components/reference/ros2/core/ros2-frame.md
  content/docs/user-guide/components/reference/ros2/core/ros2-system-component.md
  content/docs/user-guide/components/reference/ros2/sensors/_index.md
  content/docs/user-guide/components/reference/ros2/sensors/common/sensor-configuration.md
  content/docs/user-guide/components/reference/ros2/sensors/ros2-gnss-sensor.md
  content/docs/user-guide/components/reference/ros2/sensors/ros2-lidar-sensor.md
  static/images/user-guide/components/reference/robotics/ros2/ros2-frame-component-namespace-custom.png
  static/images/user-guide/components/reference/robotics/ros2/ros2-frame-component-namespace-default.png
  static/images/user-guide/components/reference/robotics/ros2/ros2-frame-component.png
  static/images/user-guide/components/reference/robotics/ros2/ros2-georeference-component.png
  static/images/user-guide/components/reference/robotics/ros2/ros2-gnss-sensor-component.png
  static/images/user-guide/components/reference/robotics/ros2/ros2-lidar-sensor-component.png
Owners: @o3de/sig-docs-community-reviewers

Release ROS 2 simulation with O3DE (#2520)
  content/docs/user-guide/interactivity/robotics/_index.md
  content/docs/user-guide/interactivity/robotics/deploying-simulation.md
Owners: @o3de/sig-docs-community-reviewers

Initial Remote Content Docs (#2420)
  content/docs/contributing/_index.md
  content/docs/contributing/to-official-remote-repository/_index.md
  content/docs/user-guide/_index.md
  content/docs/user-guide/gems/_index.md
  content/docs/user-guide/gems/repositories/_index.md
  content/docs/user-guide/gems/repositories/overview.md
  content/docs/user-guide/programming/gems/manifest.md
  content/docs/user-guide/remote-content/_index.md
  content/docs/user-guide/remote-content/create-a-remote-repository.md
  content/docs/user-guide/remote-content/remote-repository-overview.md
  content/docs/user-guide/remote-content/repo-json-reference.md
  content/docs/user-guide/remote-content/update-a-remote-repository.md
  content/docs/user-guide/remote-content/use-a-remote-repository.md
  static/images/user-guide/remote-content/ProjectManagerAddRemoteSource.JPG
  static/images/user-guide/remote-content/ProjectManagerDownloadGem.JPG
  static/images/user-guide/remote-content/ProjectManagerRemoteSources.JPG
Owners: @o3de/sig-docs-community-reviewers

Adding documentation for android export (#2542)
  content/docs/user-guide/packaging/project-export/_index.md
  content/docs/user-guide/packaging/project-export/project-export-android.md
Owners: @o3de/sig-docs-community-reviewers

Adds documentation for script-only mode and templates (#2536)
  content/docs/user-guide/build/_index.md
  content/docs/user-guide/build/script-only-projects.md
  content/docs/user-guide/build/templates.md
  content/docs/welcome-guide/create/creating-projects-using-project-manager.md
Owners: @o3de/sig-docs-community-reviewers

sub-page describing SDFormat sensor importer (#2515)
  content/docs/user-guide/interactivity/robotics/_index.md
  content/docs/user-guide/interactivity/robotics/importing-robot/_index.md
  content/docs/user-guide/interactivity/robotics/importing-robot/sdformat-sensors.md
Owners: @o3de/sig-docs-community-reviewers

Tutorial to export the StarterGame project from Lumberyard to O3DE (#2545)
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/_index.md
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/converting-components.md
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/converting-levels.md
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/converting-materials.md
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/get-starter-game-project.md
  content/docs/learning-guide/tutorials/lumberyard-to-o3de/porting-terrains.md
  static/images/learning-guide/tutorials/lumberyard-to-o3de/disable-dpe-cvar.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/legacy-asset-converter.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/material-editor.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/play-game.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/project-configurator.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/remove-layer.mp4
  static/images/learning-guide/tutorials/lumberyard-to-o3de/serialize-context-tools-launch.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/serialize-context-tools.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/slice-in-o3de.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/splat-map.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/starter-game-prefab.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/starter-game.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/surface-tags.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/terrain-editor.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/terrain-final.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/terrain-material.png
  static/images/learning-guide/tutorials/lumberyard-to-o3de/terrain.png
Owners: @o3de/sig-docs-community-reviewers

RobotImporter: Turtlebot4 instructions (#2546)
  content/docs/user-guide/interactivity/robotics/importing-robot/_index.md
  content/docs/user-guide/interactivity/robotics/importing-robot/importing-turtlebot4.md
  static/images/user-guide/gems/ros2/URDF_importer_turtlebot0.png
  static/images/user-guide/gems/ros2/URDF_importer_turtlebot1.png
  static/images/user-guide/gems/ros2/URDF_importer_turtlebot2.png
Owners: @o3de/sig-docs-community-reviewers

Adjusted project setup guide for robotic template. (#2551)
  content/docs/user-guide/interactivity/robotics/project-configuration.md
Owners: @o3de/sig-docs-community-reviewers

sub-page describing SDFormat model control plugin import (#2538)
  content/docs/user-guide/interactivity/robotics/importing-robot/_index.md
  content/docs/user-guide/interactivity/robotics/importing-robot/sdformat-plugins.md
  content/docs/user-guide/interactivity/robotics/importing-robot/sdformat-sensors.md
Owners: @o3de/sig-docs-community-reviewers

Remove Ubuntu 20.04 LTS from active references (#2550)
  content/docs/welcome-guide/requirements.md
  content/docs/welcome-guide/setup/installing-linux.md
  layouts/shortcodes/versions/ubuntu.html
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

Updating the O3DE Memory Management documentation (#2503)
  content/docs/user-guide/programming/memory-management.md
  content/docs/user-guide/programming/memory/allocators.md
  content/docs/user-guide/programming/memory/debugging.md
  content/docs/user-guide/programming/memory/overrun-detection.md
  static/images/user-guide/programming/memory/memory-allocators-1.png
  static/images/user-guide/programming/memory/memory-allocators.gliffy
  static/images/user-guide/programming/memory/memory-allocators.svg
Owners: @o3de/sig-docs-community-reviewers

[DOCS] Project Export Internals Overview (#2561)
  content/docs/engine-dev/tools/_index.md
  content/docs/engine-dev/tools/o3de-cli/_index.md
  content/docs/engine-dev/tools/o3de-cli/project-export/_index.md
  content/docs/engine-dev/tools/o3de-cli/project-export/high-level-overview.md
  static/images/engine-dev/o3de-cli/project-export/project-export-cli-setup.png
Owners: @o3de/sig-docs-community-reviewers

Minor changes to ROS 2 project configuration manual. (#2556)
  content/docs/user-guide/interactivity/robotics/project-configuration.md
Owners: @o3de/sig-docs-community-reviewers

Add ubuntu 2404 references (#2559)
  content/docs/welcome-guide/requirements.md
  layouts/partials/download/content-linux.html
  layouts/shortcodes/versions/clang.html
Owners: @o3de/sig-docs-community-reviewers, @o3de/sig-docs-community-site-reviewers

Create hugo.yml
  .github/workflows/hugo.yml
Owners: @o3de/sig-docs-community-maintainers

Create CNAME
  CNAME
Owners: @o3de/sig-docs-community-maintainers

Delete CNAME
  CNAME
Owners: @o3de/sig-docs-community-maintainers
